<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/img/chef.png"
        class="d-block mx-lg-auto img-fluid chef-img"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Welcome to Master Chef
      </h1>
      <p class="lead">
        Discover the art of cooking with our expertly crafted recipes,
        step-by-step guides, and culinary tips. Whether you're a beginner or a
        seasoned chef, Master Chef is your ultimate kitchen companion.
      </p>
      <form class="d-flex search" role="search" method="GET" action="/search-results">
        <input
          class="form-control searchBar"
          type="search"
          placeholder="Search recipes"
          aria-label="Search"
          name="recipes"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </form>      
    </div>
  </div>
</div>
<script>
  window.addEventListener("load", function () {
    const chefImg = document.querySelector(".chef-img");
    chefImg.classList.add("shake-on-load");
    setTimeout(() => {
      chefImg.classList.remove("shake-on-load");
    }, 800);
  });
</script>
<%- include("partials/footer.ejs") %>
