body {
  background: linear-gradient(90deg, #2ecc71, #1abc9c, #16a085);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading p {
  text-align: center;
  font-size: 1rem;
  color: red;
}

.heading h1 {
  text-align: center;
  font-size: 2rem;
}

.heading img {
  height: 4rem;
  width: 4rem;
}

.card {
  flex-basis: 20rem;
  box-sizing: border-box;
  margin: 2rem;
  background: linear-gradient(135deg, #4a90e2, #50e3c2);
  color: white;
  border: 0.2rem solid cyan;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.register p {
  margin: 0;
  margin-top: 1rem;
}

.google {
  height: 1.5rem;
  width: 1.5rem;
}
